<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/adminLayout :: layout(~{::link}, ~{::section})}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/admin/generic.css" />
</head>
<body>
<section>
    <div class="row">
        <div class="col-sm-8">
        <h3 th:text="${staff_info.firstName + ' ' + staff_info.lastName}"></h3>
        <form action="AdminStaff?method=editSubmit" method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="hidden" name="id" id="id" th:value="${staff_info.id}"><br />
            <br />
            <fieldset>
                <legend>Player Details</legend>
                <label for="firstname">First Name:</label> <input type="text" name="firstname" id="firstname"
                                                                  th:value="${staff_info.firstName}" /><br />
                <br /> <label for="lastname">Last Name:</label> <input type="text" name="lastname" id="lastname"
                                                                       th:value="${staff_info.lastName}" /><br />
                <br /> <label for="current">Current Player:</label> <input type="checkbox" name="current" id="current" value="true"
                                                                           th:checked="${staff_info.atClub}" /><br />
                <br /> <label for="profile">PenPic:</label> <textarea name="profile" id="profile" rows="8" cols="50" th:text="${staff_info.profile}">
        </textarea><br />
                <br /> <label for="lastname">Date Of Birth:</label> <input type="text" name="dob" id="dob"
                                                                           th:value="${#temporals.format(staff_info.dateOfBirth, 'yyyy-MM-dd')}"><br />
                <br />
            </fieldset>
            <fieldset>
                <legend>Sponsors</legend>
                <label for="fullkit">Home Kit:</label> <input type="text" name="fullkit" id="fullkit"
                                                              th:value="${staff_info.fullKit}" /><br />
                <br /><label for="fullkit2">Home Kit 2:</label> <input type="text" name="fullkit2" id="fullkit2"
                                                                       th:value="${staff_info.fullKitTwo}" /><br />
                <br /> <label for="awaykit">Away Kit:</label> <input type="text" name="awaykit" id="awayKit"
                                                                     th:value="${staff_info.awayKit}" /><br />
                <br /> <label for="awaykit2">Away Kit:</label> <input type="text" name="awaykit2" id="awayKit2"
                                                                      th:value="${staff_info.awayKitTwo}" /><br />
                <br />
                <label for="socks">Socks:</label> <input type="text" name="socks" id="socks"
                                                         th:value="${staff_info.socks}" /><br />
                <label for="socks2">Socks 2:</label> <input type="text" name="socks2" id="socks2"
                                                            th:value="${staff_info.socksTwo}" /><br />
                <br /> <label for="corporate">Corporate:</label> <input type="text" name="corporate" id="corporate"
                                                                        th:value="${staff_info.corporate}" /><br />
                <br />
            </fieldset>

            <input type="submit" id="add" value="Update Player" />
        </form>


            <h4>Time spent at club:</h4>
            <table id="timeatclub">
                <tr>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">First Season</th>
                    <th scope="col">Last Season</th>
                    <th scope="col">Role</th>
                    <th scope="col">Trial</th>
                    <th scope="col">Loan</th>
                </tr>

                <tr th:each="period, status: ${staff_info.timeAtClub}">
                    <td th:text="${#temporals.format(period.startDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(period.endDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${period.startSeason}"></td>
                    <td th:text="${period.endSeason}"></td>
                    <td th:text="${period.staffRole.name}"></td>
                    <td th:text="${period.trialOnly ? 'yes' : 'no'}"></td>
                    <td th:text="${period.onLoan ? 'yes' : 'no'}"></td>
<!--                    <td>
                        <form th:action="${'/AdminStaff/' + staff_info.id + '/TimeAtClub/' + period.id}" method="post">
                            <input type="submit" id="updateTimePeriod" value="Edit" />
                        </form>
                    </td>-->
                    <td>
                        <form th:action="${'/AdminStaff/' + staff_info.id + '/DeleteTimeAtClub/' + period.id}" method="post">
                            <input type="submit" id="removeTimePeriod" value="Delete" />
                        </form>
                    </td>
                </tr>
            </table>
            <fieldset>
                <h3>Add new time period</h3>
                <form th:action="${'/AdminStaff/' + staff_info.id + '/CreateTimeAtClub'}" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <label for="startDate">Start Date:</label> <input type="text" name="startDate" id="startDate" /><br />
                    <br /> <label for="endDate">End Date:</label> <input type="text" name="endDate" id="endDate" /><br />
                    <br /> <label for="endDate">Staff Role:</label> <select id="role" name="role">
                    <option th:each="role: ${staff_role_list}" th:value="${role}" th:text="${role}"></option>
                </select><br />
                    <br /> <label for="endDate">First Season:</label> <select id="firstSeason" name="firstSeason">
                    <option th:each="season : ${season_list}" th:value="${season}" th:text="${season + '/' + (season + 1)}"></option>
                </select><br />
                    <br /> <label for="endDate">Last Season:</label> <select id="lastSeason" name="lastSeason">
                    <option value=""></option>
                    <option th:each="season : ${season_list}" th:value="${season}" th:text="${season + '/' + (season + 1)}"></option>
                </select><br />
                    <br /> <label for="onTrial">Is Trial:</label> <input type="checkbox" name="onTrial" id="onTrial" /><br />
                    <br /> <label for="onLoan">Loan:</label> <input type="checkbox" name="onLoan" id="onLoan" /><br />
                    <br /> <input type="submit" id="addPeriod" value="Add New Period" />
                </form>
            </fieldset>
        </div>

        <div class="col-sm-4">
            <h3>Image</h3>
            <img th:src="${staff_info.publicUrl}" /><br />


            <form th:action="${'/AdminStaff/' + staff_info.id + '/UpdateImage'}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="id" id="id" th:value="${staff_info.id}"><br />

                <label for="penpic">New PenPic Image:</label>
                <input type="file" name="penpic" id="penpic" />

                <input type="submit" id="updatePenpic" value="Update Penpic Image" />
            </form>


            <h3>Corporate Sponsor Image</h3>
            <img th:src="${staff_info.corporateSponsorImage}" /><br />


            <form th:action="${'/AdminStaff/' + staff_info.id + '/UpdateSponsorImage'}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" name="id" id="id" th:value="${staff_info.id}"><br />

                <label for="sponsorImage">New Corporate Sponsor Image:</label>
                <input type="file" name="sponsorImage" id="sponsorImage" />

                <input type="submit" id="updateSponsor" value="Update Corporate Sponsor Image" />
            </form>


            <form th:action="${'/AdminStaff/' + staff_info.id + '/DeleteSponsorImage'}" method="post" enctype="multipart/form-data">
                <input type="submit" id="removeSponsor" value="Remove Corporate Sponsor Image" />
            </form>
        </div>
    </div>

</section>
</body>
</html>
