<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/adminLayout :: layout(~{::link}, ~{::section})}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin/generic.css}" />
</head>
<body>
<section>
    <div class="row">
        <div id="genericmodule" class="col-sm-8 topmodule">
            <div id="module">
                <h3 th:text="${club.getInternalName + ': Crests'}"></h3>

                <table th:if="${not crests.isEmpty()}">
                    <tr>
                        <th></th>
                        <th>from</th>
                        <th>till</th>
                        <th>actions</th>
                    </tr>
                    <tr th:each="crest : ${crests}">
                        <td><img th:src="@{${crest.awsUrl}}" /></td>
                        <td th:text="${crest.firstSeason}"></td>
                        <td th:text="${crest.lastSeason}"></td>
                        <td></td>
                    </tr>
                </table>

                <h3>Add New Crest</h3>
                <form th:action="@{${'/AdminCrest/' + club.id}}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="form-group">
                        <label for="firstSeason">First Season</label>
                        <input type="text" class="form-control" name="firstSeason" id="firstSeason" placeholder="First season">
                    </div>
                    <div class="form-group">
                        <label for="lastSeason">Last Season</label>
                        <input type="text" class="form-control" name="lastSeason" id="lastSeason" placeholder="Last season">
                    </div>
                    <div class="form-group">
                        <label for="crest">Crest</label>
                        <input type="file" class="form-control" name="crest" id="crest">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div id="genericsidebar" class="col-sm-4 topmodule">
            <div id="sidebar">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-0140213869397178" data-ad-slot="2289081698"
                     data-ad-format="auto"></ins>
                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
            </div>
        </div>
    </div>

</section>
</body>
</html>
