<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/mainLayout :: layout(~{::link}, ~{::section})}">
<head>
	<link rel="stylesheet" type="text/css" href="css/12thman.css" />
</head>
<body>
<section>
	<div class="row">
		<div class="col-sm-12">
			<div class="main topmodule">
				<h2>12th Man Fund, 2020/21</h2>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="genericmodule" class="col-sm-8 topmodule">
			<div id="module">
				<img src="/images/homebanner/12thMan2020.jpg" width="100%" class="mainImage">

				<p>Hendon FC has now launched it's 12th Man Fund appeal to fans to support the budget for 2020/21 season. We are hoping that fans will pledge in excess of 25,000 pounds for next year's campaign.</p>

				<p>Chairman Simon Lawrence said "We're launching this appeal a few months earlier than we did last season and are hoping that this year's appeal will bring in even more than last year's.That's because if we are to build on the progress that has been made on the pitch over the past 3 months, we need to equip Lee with as competitive a budget as possible to allow him to start planning straight away, whether that's by securing those members of the current squad who he wishes to retain or by being able to make offers to those targets he has identified as being key to next season's success.</p>

				<p>"As ever, finance is key to all of this so please do what you can to support Lee and the club."</p>

				<p>Lee Allinson said "I've really enjoyed my first 3 months as Hendon manager and I feel that we're now starting to see the success that hard work brings after 18 months that has been tough for everyone. While there's still work to be done to secure Step 3 football for next season, now is the time that I would want to start my planning and, as with any manager, the key to that is as competitive a budget as possible. The fans have been amazing so far - myself and my family have been made to feel so welcome - so I hope that you'll be able to support the 12th Man Fund and, who knows, in 12 months' time we could be dreaming of promotion rather than dreading relegation."</p>

				<p>If you would like to pledge a donation to the 2020/21 12th Man Fun, please do so direct by Paypal below, or by contacting Simon - by email at simon.hendon@btinternet.com, on Twitter at @HFC_Guv, on the Fans of Hendon FC Facebook group or in person.</p>

				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="THDN35MUVZTE8">
					<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
				</form>

			</div>
		</div>
		<div id="genericsidebar" class="col-sm-4 topmodule">
			<div id="sidebar">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-0140213869397178" data-ad-slot="2289081698"
					 data-ad-format="auto"></ins>
				<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
			</div>
		</div>
	</div>
</section>
</body>
</html>