#item1>h3 {
    border-top: none;
    padding-top: 0px;
}

.result>.gn-item>.row>div {
    padding: 0px 5px;
}

.score {
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    font-size: 125%;
}

a>.matchDetailsLink, a>.hfctvLink {
    margin-top: 10px;
    text-underline-mode: none;
    font-weight: bold;
    border-color: #006937;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding: 5px 0px;
}

a:hover>.matchDetailsLink, a:hover>.hfctvLink {
    background-color: #cccccc;
}

.date {
    margin-bottom: 10px;
    font-weight: bold;
}
.fixture, .result, .highlights, .accredited {
    margin-bottom: 20px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* latest news */
#newsitems>a>.newsitem {
    border-bottom-color: #006937;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-top: 10px;
    margin:0px;
}
#newsitems>a>.newsitem>div:first-of-type {
    padding-left:0px;
}
#newsitems>a>.newsitem>div:last-of-type {
    padding-right:0px;
}

#newsitems>a>.newsitem>div>h3 {
    padding-top: 0px;
    border-top-style: none;
}
#newsitems>a {
    text-decoration: none;
    color: #333333;
}
#newsitems>a>.newsitem:hover
{
    background-color: #eeeeee;
}

.sponsors {
    background-color:#eeeeee;
    border-color: #006937;
    border-width: 1px;
    border-style: solid;
    padding-top: 10px;
}
.sponsors > h3 {
    border-top-style: none;
    padding-top: 0;
    margin-bottom: 5px;
}
.sponsors > a > img {
    padding: 5px;
}
.sponsors > p {
    padding-top: 10px;
    font-size: 85%;
    border-top-color: #006937;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 5px;

}
.table-success {
    font-weight: bold;
}

.table th {
    border-top: 0;
    padding-top: 0;
}
.table td {
    vertical-align: middle;
}