<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="bottomAd" class="row">
	<div class="col-sm-12 widesponsor">
		<script async
				src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<ins class="adsbygoogle" style="display: block"
			 data-ad-client="ca-pub-0140213869397178"
			 data-ad-slot="2289081698" data-ad-format="auto"></ins>
		<script>
            (adsbygoogle = window.adsbygoogle
                || []).push({});
		</script>
	</div>
</div>
</body>
</html>